<div class="container">
    <div class="card p-3 mt-2">
        <div class="row col-md-12">
            <div class="col-md-6 mb-2 task">
                <label class="d-block">Enter Application No</label>
                <input placeholder="Application Number" [(ngModel)]="applicationNo" class="ui-inputtext ui-corner-all ui-state-default ui-widget w-60">
            </div>
            <div class="col-md-3 text-center mt-4">
                <button class="save_btn" (click)="searchApp()">Search</button>&nbsp;&nbsp;
                <button class="save_btn" (click)="refresh()">Refresh</button>
            </div>
        </div>
    </div>

    <div class="mt-2">
        <p-table [columns]="cols" [value]="appValues" [paginator]="true" [rows]="10">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns">
                        <span>
                            {{rowData[col.field]}}
                        </span>
                        <span *ngIf="col.header == 'Action'">
                            <button mat-raised-button color="accent"
                                (click)="editRow(rowData)">Edit</button>&nbsp;&nbsp;

                            <button mat-raised-button color="warn" (click)="deleteRow(rowData)">Delete</button>
                        </span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<div class="row col-md-12">
    <form>

    </form>
</div>