<div class="container">
    <div class="card p-3 mt-2">
        <div class="row col-md-12">
            <div class="col-md-6 mb-2 task">
                <label class="d-block">First Name</label>
                <input placeholder="First Name"
                    class="ui-inputtext ui-corner-all ui-state-default ui-widget w-60">
            </div>
            <div class="col-md-6 mb-2 task">
                <label class="d-block">Last Name</label>
                <input placeholder="Last Name"
                    class="ui-inputtext ui-corner-all ui-state-default ui-widget w-60">
            </div>
    
            <div class="col-md-6 mb-2">
                <label class="d-block">Gender</label>
                <span class="d-block">
                    <input placeholder="First Name" type="radio"
                    class="ui-inputtext ui-corner-all ui-state-default ui-widget"><span >Male</span>
                </span>
                
                <span class="d-block">
                    <input placeholder="First Name" type="radio"
                    class="ui-inputtext ui-corner-all ui-state-default ui-widget"><span >Female</span> 
                </span> 
            </div>
            <div class="col-md-6 mb-2 task">
                <label class="d-block">Email</label>
                <input placeholder="Email" type="email"
                    class="ui-inputtext ui-corner-all ui-state-default ui-widget w-60">
            </div>
            <div class="col-md-6 mb-2 task">
                <label class="d-block">Address</label>
                <input placeholder="address" type="text"
                    class="ui-inputtext ui-corner-all ui-state-default ui-widget w-60">
            </div>
            <div class="col-md-6 mb-2 task">
                <label class="d-block">City</label>
                <input placeholder="City" type="text"
                    class="ui-inputtext ui-corner-all ui-state-default ui-widget w-60">
            </div>
            <div class="col-md-6 mb-2 task">
                <label class="d-block">State</label>
                <select placeholder="select City" class="ui-inputtext ui-corner-all ui-state-default ui-widget w-60">
                    <option>Guntur</option>
                    <option>Vijayawada</option>
                    <option>Vizag</option>
                </select>
            </div>
            <div class="col-md-3 text-center mt-4">
                <button class="save_btn" (click)="saveEmps()">{{isEdit?'Update':'Save'}}</button>
                &nbsp;&nbsp; <button class="save_btn" (click)="clear()">Clear</button>
            </div>
        </div>
        







    </div>

    <div class="mt-2">

        <p-table [columns]="cols" [value]="empValues" [paginator]="true" [rows]="10">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns">
                        <span
                            *ngIf="col.header != 'Department' && col.header != 'Action' && col.header != 'Hire Date' ">
                            {{rowData[col.field]}}
                        </span>
                        <span *ngIf="col.header =='Department'">
                            {{rowData[col.field]["name"]}}
                        </span>
                        <span *ngIf="col.header == 'Hire Date'">
                            {{rowData[col.field]| date:"mediumDate"}}
                        </span>
                        <span *ngIf="col.header == 'Action'">
                            <button mat-raised-button color="accent"
                               (click)="editRow(rowData)">Edit</button>&nbsp;&nbsp;

                            <button mat-raised-button color="warn" (click)="deleteRow(rowData)">Delete</button>
                        </span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<div class="row col-md-12">
    <form>
       
    </form>
</div>