::ng-deep .ui-inputtext:enabled:hover:not(.ui-state-error){
    border-color: #39a3f4;
    box-shadow: 0 0 7px 0 #39a3f4;
    -webkit-box-shadow: 0 0 7px 0 #39a3f4;
}
::ng-deep .ui-widget-content .ui-inputtext{
    font-weight: 400;
}
::ng-deep .ui-inputtext{
    color: #424242;
    font-size: 14px;
    background: #ffffff;
    padding: 0.429em;
    border: 1px solid #cccccc;
    -moz-transition: box-shadow 0.3s, border-color 0.3s;
    -o-transition: box-shadow 0.3s, border-color 0.3s;
    -webkit-transition: box-shadow 0.3s, border-color 0.3s;
    transition: box-shadow 0.3s, border-color 0.3s;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-appearance: none;
}
.save_btn{
    vertical-align: middle;
    color: #ffffff;
    background-color: #39a3f4;
    border: 1px solid transparent;
    font-size: 14px;
    transition: background-color 0.3s, box-shadow 0.3s;
    border-radius: 2px;
    padding: 5px 25px 5px 25px;

}
.save_btn:active{
    background-color: #0d86e3;
}
.save_btn:focus{
    outline: 0 none;
    box-shadow: 0 0 14px 0 #39a3f4;
    -webkit-box-shadow: 0 0 14px 0 #39a3f4;
}
.w-60{
    width: 60%;
}