<div class="container">
    <div class="card p-3 mt-2">
        <div class="row">
            <div class="col-md-6 text-right">
                <input pinputtext="" placeholder="Enter Department" [(ngModel)]="name" type="text"
                    class="ui-inputtext ui-corner-all ui-state-default ui-widget w-60">
            </div>
            <div class="col-md-6 text-left">
                <button class="save_btn" (click)="saveDepts()"> {{isEdit?'Update':'Submit'}}</button>
               &nbsp;&nbsp; <button class="save_btn" (click)="clear()">Clear</button>
            </div>
        </div>
    </div>
    <div class="row">
        <table mat-table [dataSource]="dataSource" role="grid" class="w-100">
            <ng-container *ngFor="let column of columns" [cdkColumnDef]="column.columnDef">
                <mat-header-cell *cdkHeaderCellDef><span class="thwidth">{{column.header}}</span></mat-header-cell>
                <mat-cell *cdkCellDef="let row; let i = index">
                    <span *ngIf="column.header != 'Create Date' && column.header != 'Action'">
                        {{column.cell(row)}}</span>

                    <span *ngIf="column.header == 'Create Date'">
                        {{column.cell(row) | date:"medium"}}
                    </span>
                    <span *ngIf="column.header == 'Action'">
                        <label (click)="editDepts(row)">Edit</label>&nbsp;
                        <label (click)="delete(row)">Delete</label>
                    </span>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </table>
    </div>

</div>