<div class="container-fluid">
  <div class="row headerheight">
    <mat-toolbar class="background shadow">
      <mat-toolbar-row>
        <button *ngIf="showToggle" mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="row appbody">
    <div class="col-md-12 sideNavRow ">
      <mat-drawer-container class="example-container " autosize>
        <mat-drawer  #drawer class="example-sidenav " mode="side">
          <ul class="nav flex-column margins">
            <li class="nav-item" *ngFor="let item of sidenavElements">
              <div class="nav-link" [ngClass]="{'active':item.id==tabId}" routerLinkActive="active"
                [routerLink]="[item.routerLink]" href="javascript:void(0)" (click)="tabId=item.id;decrease();">
                <span style="margin-left: 12px;">{{expandSideNav?item.name:''}}</span>&nbsp;<span style="float:right;">
                </span>
              </div>
            </li>
          </ul>
        </mat-drawer>
        <router-outlet></router-outlet>
      </mat-drawer-container>
    </div>
  </div>
</div>