.background {
  background-color: #39a3f4;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  width: 100%;
  color: #fff;
  position: fixed;
  z-index: 999;
  justify-content: space-between;

}

.headerheight {
  height: 56px;
}

.active {
  color: #39a3f4;
  font-weight: 700;
  border: none;
  font-size: 14px;
  /* border: 1px solid black !important; */
  /* background-color: #54B847; */
}

::ng-deep .mat-toolbar-row,
.mat-toolbar-single-row {
  height: 49px !important;
}

::ng-deep .mat-toolbar-multiple-rows {
  min-height: 0px !important;
}
.version{
  float: right;
}
.flexSpaceBetween {
  justify-content: space-between;
}

.example-container {
  overflow: hidden;
  height: 100%;
  background: #ffffff;
}
